* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  background-color: #bcccdc;
  color: #262626;
}

h1 {
  text-align: center;
}

form {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 4px;
}

input[type="email"],
input[type="password"] {
  border-radius: 100px;
  border: 1px solid #0d9488;
  height: 2rem;
  text-indent: 10px;
  margin-bottom: 20px;
}

#age {
  border-radius: 100px;
  border: 1px solid #0d9488;
  height: 2rem;
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #0d9488;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: 10px;
}

.radioCenter {
  text-align: left;
  margin-left: 40%;
  margin-right: 40%;
}

.checkboxCenter {
  text-align: left;
  margin-left: 40%;
  margin-right: 40%;
}

textarea {
  margin-bottom: 20px;
  border-radius: 100px;
  border: 1px solid #0d9488;
}

button {
  border-radius: 100px;
  border: 2px solid #0d9488;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.1s ease-in-out;
}

button:hover {
  background-color: #9aa6b2;
  border-color: #042f2e;
  color: white;
}
